
.banner-img{
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    border-radius: 16px;
    background: linear-gradient(180deg, #080116 0%, rgba(7, 2, 17, 0.00) 100%);
}
.text-overlay {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 100px 338px 100px 338px;
    font-size: 32px;
    background: linear-gradient(180deg, #080116 20%, rgba(7, 2, 17, 0.00) 100%);
}
.NYPC{
    font-size: 80px;
    text-align: center;
    width: 632px;
}

.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.allcat {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nyp {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 50px auto;
}

.welcome {
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('../images/Vectorrr.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-mid{

}

.welcome-msg {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 6px;
    padding: 100px 0px 0px 130px ;
}

.welcome-des {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    padding: 0px 0px 0px 126px;
    /* 166.667% */
}


.join-button{
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
    background-color: transparent;
    padding: 50px 1059px 142px 158px;
}

.yearnum {
    background-blend-mode: multiply;
    padding: 0.008px 0px 0px 0px;
}

.event-info {
    background-color: rgba(255, 0, 0, 0.10);
    margin: 50px auto;
    width: 1125px;
    height: 482px;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
    padding: 100px 100px 100px 100px;
}

.prim-color{
    color: #F00;
}

.event-join {
    padding: 5px 32px;
    color: #FFF;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border:0;
    border-radius: 8px;
    background: #F00;
}

.craker{
    display: flex;
    margin: 50px auto;
    width: 1320px;
    height: 600px;
    align-items: center;
    justify-content: space-between;
}

.craker-left{
    width: 393px;
}

.craker-right{
    width: 276px;
}

.craker-right-head{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.craker-desc{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */ 
}

.new-offer {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.coming-soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.ellipse1{
   width: 365x;
   height: 365px;
   border-radius: 365px;
   border: 15px solid #F00;
   padding: 40px;
   display: flex;
}

.Holiday-sale {
    width: 1068px;
    height: 482px;
    margin: 50px auto;
    text-align: center;
}

.whatFunc{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.HSale {
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.sale-desc {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}


.Portfolio{
    margin: 50px auto;
    width: 1320px;
    height: 482px;
}
.Portfoliodesc {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}